@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 10px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #ED6A5A !important;
  --mint-color-blue: #FF897A !important;
}

$color-square-gradient: linear-gradient(
  4deg,
  rgba(237, 106, 90, 1) 55%,
  rgba(160, 58, 45, 1) 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  rgba(237, 106, 90, 1) 55%,
  rgba(160, 58, 45, 1) 100%
);
